---
---

<div>
   <p>Here's why I think you should work with me.</p>

   <ul class="mt-5">
      <li>
         <strong>Service Uptime.</strong> 150% improvement in uptime of
         customer-facing services
      </li>
      <li>
         <strong>Hosting Cost Optimisation.</strong> 2000 USD monthly reduction
         in DB costs through query optimization
      </li>
      <li>
         <strong>Logging Storage Migration.</strong> Introduced File-based
         storage to reduce db dependency
      </li>
      <li>
         <strong>Identity Service.</strong> Migrated to an in-house IAM
         maintaining backward compatibility with old applications
      </li>
      <li>
         <strong>SOA Migration.</strong> Migrated 2M subscribed customers from a
         monolith to an SOA-based platform
      </li>
      <li>
         <strong>Payment Migration.</strong> Integrated with payment providers
         for automated billing and collections of ~1M subscribed customer
      </li>
   </ul>
</div>
