---
---

<!-- Show this on all screens  -->
<button
   class="fixed bottom-4 right-4 text-xs text-white mt-8 px-4 h-10 bg-red-600 rounded-full hover:bg-red-700 active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none visible"
   onclick="window.location.href='mailto:junaid.h.gazi@gmail.com'"
>

   <i
      class="fa fa-heart"
      aria-hidden="true"
      title="heart icon"></i>
<span class="pl-1">Contact Me</span>
</button>
