---

---

<nav class="mb-16">
    <div class="flex justify-center space-x-6 text-sm">
      <a href="/index" class="text-gray-600 hover:text-black">/home</a>
      <a href="/index/#experience" class="text-gray-600 hover:text-black">/experience</a>
      <a href="/index#projects" class="text-gray-600 hover:text-black">/projects</a>
      <a href="/blog" class="text-gray-600 hover:text-black">/blog</a>
    </div>
</nav>